.marketing-heading {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.app-name {
    display: inline;
    font-size: 30px;
}

.tile {
    height: 100vh;
    background-color: #FFFFFF;
}

.tile:nth-child(even) {
    background-color: #F7F8FC;
}

.tile.updates {
    height: 250px;
}

.tile.details {
    height: 600px;
}

.tile.marketing-links {
    height: 400px;
}

