{% extends "chromeless.html" %}
{% load compress %}

{% block title %}
Quality Analytics for Quality Assurance {{ title_delimiter }} {{ block.super }}
{% endblock %}

{% block body_class %}marketing-body container-fluid{% endblock %}

{% block chromeless %}
{% compress css file %}
<link rel="stylesheet" href="/static/marketing/css/marketing.css">
{% endcompress %}
<section class="marketing-heading">
    <span>
        <h1 class="app-name">{{app_name}}</h1>
    </span>
    <span>
        <a href="#value-add">Section 01</a>
    </span>
    <span>
        <a href="#details1">Section 02</a>
    </span>
    <span>
        <a href="#details2">Section 03</a>
    </span>
</section>
<section class="tile above-fold row">
    <div class="col-xs-12">
        <div class="col-xs-12 col-md-6">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis nisi felis, eget porttitor justo posuere in. Nam molestie eget purus sed porta. Suspendisse potenti. Aliquam congue, ante fringilla tincidunt elementum, enim est fermentum metus, gravida malesuada nulla tellus a felis.
            </p>
        </div>
        <div class="col-xs-12 col-md-6"></div>
    </div>
    <div class="col-xs-12">
        {% include "marketing/partials/new_subscription.html" %}
    </div>
</section>
<section id="value-add" class="tile value-add row"></section>
<section id="details1" class="tile details row">
    <div class="col-xs-12 col-md-6">
        <a href="#">Lorem Ipsum</a>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis nisi felis, eget porttitor justo posuere in. Nam molestie eget purus sed porta. Suspendisse potenti. Aliquam congue, ante fringilla tincidunt elementum, enim est fermentum metus, gravida malesuada nulla tellus a felis. Praesent ac bibendum erat. Nulla luctus nunc ac aliquet pharetra. Cras luctus, turpis et facilisis commodo, enim ipsum volutpat nisl, a consequat elit elit non odio. Donec pretium sit amet purus eu volutpat. Mauris cursus dapibus sapien, ut posuere odio suscipit in. Donec ornare neque et lectus ultricies, nec posuere tortor ornare. Maecenas ex orci, feugiat nec orci vel, pharetra pretium neque. 
        </p>
    </div>
    <div class="img col-xs-12 col-md-6">
        Platform image
    </div>
</section>
<section id="details2" class="tile details row">
    <div class="img col-xs-12 col-md-6">
        Platform image
    </div>
    <div class="col-xs-12 col-md-6">
        <a href="#">Lorem Ipsum</a>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis nisi felis, eget porttitor justo posuere in. Nam molestie eget purus sed porta. Suspendisse potenti. Aliquam congue, ante fringilla tincidunt elementum, enim est fermentum metus, gravida malesuada nulla tellus a felis. Praesent ac bibendum erat. Nulla luctus nunc ac aliquet pharetra. Cras luctus, turpis et facilisis commodo, enim ipsum volutpat nisl, a consequat elit elit non odio. Donec pretium sit amet purus eu volutpat. Mauris cursus dapibus sapien, ut posuere odio suscipit in. Donec ornare neque et lectus ultricies, nec posuere tortor ornare. Maecenas ex orci, feugiat nec orci vel, pharetra pretium neque. 
        </p>
    </div>
</section>
<section class="tile marketing-links row vdivide">
    <div class="col-xs-12 col-md-6 full-height">
        <h2>Be part of the discussion</h2>
    </div>
    <div class="col-xs-12 col-md-6 full-height">
        <h2>See <a href="/blog/">our blog</a> for updates.</h2>
    </div>
</section>
<section class="tile updates row">
    {% include "marketing/partials/new_subscription.html" %}
</section>
<section class="footer">
    {% include "core/partials/footer.html" %}
</section>
{% endblock %}