{% extends "base.html" %}


{% block chromeless %}
{% load compress %}
{% compress css file %}
<link rel="stylesheet" href="/static/core/css/auth.css">
<link rel="stylesheet" href="/static/core/css/code-on.css">
<link rel="stylesheet" href="/static/core/css/unsplash-credit.css">
{% endcompress %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="o-full-vh">
    <div class="col-xs-12 col-lg-3">
        {% include 'account/partials/login_form.html' %}
    </div>
    <div class="col-xs-12 col-lg-9 LoginForm--codeOn">
        {% include 'account/partials/code_on.html' %}
    </div>
</div>

{% endblock %}
