argon2-cffi==18.1.0
behave==1.2.5
behave-django==1.1.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
coverage==4.4.2
defusedxml==0.5.0
dj-database-url==0.4.2
Django==2.0.1
django-allauth==0.34.0
django-appconf==1.0.2
django-compressor==2.2
django-dotenv==1.4.2
gunicorn==19.7.1
idna==2.6
oauthlib==2.0.6
parse==1.8.2
parse-type==0.4.2
ply==3.11
psycopg2==2.7.4
psycopg2-binary==2.7.4
pycparser==2.18
python-decouple==3.1
python-memcached==1.59
python3-openid==3.1.0
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
slimit==0.8.1
urllib3==1.22
virtualenv==15.1.0
whitenoise==3.3.1
