.Footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    color: #666;
    border-top: 1px solid #E7EBF3;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding: 0.75rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Footer--copyright {
    border-right: 1px solid #E7EBF3;
    display: inline-block;
    padding-right: 1rem;
}

.Footer--terms {
    display: inline-block;
    margin-left: 1rem;
}

.Footer--links {
    margin-left: 1rem;
}
