header {
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.Nav {
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10);
    height: 3rem;
    padding: 5px 1rem;
    display: flex;
    justify-content: space-between;
}

.Nav--underline {
    background: #0094FF;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.12) 0%, rgba(0,0,0,0.12) 100%);
    height: 3px;
}

.NavSection {

}

.NavSection--right {
    margin-left: auto;
}

.NavSection--left {

}

.ProfileIcon {
    background-color: #333;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 6px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.ProfileIcon--letter {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 1px;
}

.Dropdown {
    position: absolute;
    top: 3.5rem;
    right: 0.5rem;
    width: 15rem;
    color: #333;
    display: none;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 3px 20px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 105, 129, .1);
    border-radius: 3px;
    transition: transform ease 0.1s, opacity ease 0.1s;
}

.Dropdown--list {
    padding: 0;
    margin: auto;
    list-style: none;
}

.Dropdown--listItem {
    padding: 0.5rem 0;
}

.Dropdown--listItem:hover,
.Dropdown--listItem:active,
.Dropdown--listItem:focus {
    background-color: #ededed;
}

.Nav--SubHdg {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 12px;
}
