{% load account %}
{% load compress %}
{% compress css file %}
<link rel="stylesheet" href="/static/core/css/header.css">
{% endcompress %}
<header>
    <div class="Nav">
        <div class="NavSection--left">
            <span class="Logo dripicons-basketball"></span>
        </div>
        <div class="NavSection--right">
            {% user_display user as user_display %}
            {% if user_display != "AnonymousUser" %}
                <div id="profileIcon" class="ProfileIcon">
                    <span class="ProfileIcon--letter">{{ user_display|capfirst|first }}</span>
                    <div id="menu" class="Dropdown">
                        <ul class="Dropdown--list">
                            <li class="Dropdown--listItem"><a class="btn btn-link" href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="Nav--underline"></div>
</header>

{% compress js file %}
<script src="/static/core/js/header.js"></script>
{% endcompress %}
