.LoginForm {
    text-align: center;
    max-width: 26rem;
    margin: auto;
}

.LoginForm--wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.LoginForm--banner {
    margin-bottom: 2rem;
}

.LoginForm--logo {
    height: 10rem;
    margin-bottom: 1.25rem;
}

.LoginForm--hdg {
    font-size: 1.2rem;
    margin-bottom: 0.313rem;
}

.LoginForm--subHdg {
    font-weight: normal;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 1.875rem;
}

.LoginForm--inputGroup {
    margin: 10px auto;
    margin-bottom: 0.938rem;
    text-align: left;
}

.LoginForm--inputGroupInput > input {
    width: 100%;
    height: 2rem;
    padding: 0.2rem 0.6rem;
}

.LoginForm--inputGroup > label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.LoginForm--forgotPassword {
    float: right;
}

.LoginForm--submit {
    width: 100%;
    margin-top: 1rem;
}

.LoginForm--agreement {

}

.LoginForm--signUp {
    margin-top: 1.25rem;
}

@media screen and (max-width: 75em) {
    .LoginForm--codeOn {
        display: none;
    }
}
