<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en" dir="ltr">
    <head>
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% compress css file %}
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/button.css">
        <link rel="stylesheet" href="/static/css/colors.css">
        <link rel="stylesheet" href="/static/css/input.css">
        <link rel="stylesheet" href="/static/font/dripicons/webfont.css">
        <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'tellme/feedback.min.css' %}">
        {% endcompress %}
        {% block jquery %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        {% endblock %}
        {% block ajax_csrf %}
            {% compress js file %}
                <script src="/static/core/js/ajaxCSRF.js"></script>
            {% endcompress %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js" integrity="sha384-TU+2E2omvu82iO/QZZM+yUCKqjYiahza2KDH8CKKcFHUA9+Al0dxAY8DejxPwohG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js" integrity="sha384-2aj/bCHsl/sW9Br7V4KFv8G2BBHuiQ7ZOzY+OxTo7whNRvJY4FauRJbna1IVAvos" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js" integrity="sha384-tQnfZyyk7ZX5leaWDkq9qAvwSkSvH0ouVfrxLn12X9Y2DS8nDa8pHXFH9LLKJdo/" crossorigin="anonymous"></script>
        {% compress js file %}
            <script src="/static/js/array.js"></script>
            <script src="/static/js/app.js"></script>
        {% endcompress %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <button type="button" id="feedback-btn" class="btn btn-secondary vertical-right-aligned">
            Feedback <span class="dripicons-broadcast" aria-hidden="true"></span>
        </button>
        {% include "core/partials/messages.html" %}
        {% block layout %}
        {% endblock layout %}
        {% block chromeless %}
        {% endblock chromeless %}
        {% block enable_tellme %}
            <script src="{% static 'tellme/feedback.min.js' %}"></script>
            <script type="text/javascript">
                $(function () {
                    $.feedback({
                        ajaxURL: "{% url 'tellme:post_feedback' %}",
                        html2canvasURL: "{% static 'tellme/html2canvas.min.js' %}",
                        feedbackButton: "#feedback-btn",
                        initButtonText: "{% filter escapejs %}{%  include 'tellme/initButtonText.txt' %}{% endfilter %}",
                        postHTML: false,
                        tpl: {
                            description: "{% filter escapejs %}{%  include 'tellme/tpl-description.html' %}{% endfilter %}",
                            highlighter: "{% filter escapejs %}{%  include 'tellme/tpl-highlighter.html' %}{% endfilter %}",
                            overview:	 "{% filter escapejs %}{%  include 'tellme/tpl-overview.html' %}{% endfilter %}",
                            submitSuccess:"{% filter escapejs %}{%  include 'tellme/tpl-submit-success.html' %}{% endfilter %}",
                            submitError: "{% filter escapejs %}{%  include 'tellme/tpl-submit-error.html' %}{% endfilter %}"
                        },
                        initialBox: true
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
