<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en" dir="ltr">
    <head>
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        {% compress css file %}
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/button.css">
        <link rel="stylesheet" href="/static/css/colors.css">
        <link rel="stylesheet" href="/static/css/input.css">
        <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css">
        {% endcompress %}
    </head>
    <body>
    {% block layout %}
    {% endblock layout %}
    {% block chromeless %}
    {% endblock chromeless %}
    </body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</html>
