{% extends "layout.html" %}
{% load compress %}
{% load i18n %}

{% block title %}
{% trans "Projects" %} {{ title_delimiter}} {{ block.super }}
{% endblock %}

{% block subnav %}
<h1>{% trans "Projects" %}</h1>
{% endblock %}

{% block content %}
{% compress css file %}
<link rel="stylesheet" href="/static/projects/css/projects.css">
{% endcompress %}

{% if projects|length %}
{{ projects }} 
{% else %}
<div class="Projects--createNewWrapper col-xs-8 col-xs-offset-2">
    <div class="Projects--headline">
        <h2 class="Projects--hdg">
            Get started with {{ app_name }}
        </h2>
        <p class="Projects--gettingStarted">
            If you're new to {{ app_name }} check out our Getting Started guide to get up and running.
        </p>
    </div>
    <div class="Projects--createNewCTA">
        <a href="{% url 'projects_new' %}" class="btn btn-primary">{% trans "Create New Project" %}</a>
    </div>
</div>
{% endif %}
{% endblock %}
