<div class="CodeOn">
    <div class="CodeOn--wrapper">
        <h1 class="CodeOn--hdg">What can Testr do for you?</h1>
        <ul class="CodeOn--list">
            <li class="CodeOn--listItem">Selling Point for Testr 001</li>
            <li class="CodeOn--listItem">Selling Point for Testr 002</li>
            <li class="CodeOn--listItem">Selling Point for Testr 003</li>
            <li class="CodeOn--listItem">Selling Point for Testr 004</li>
            <li class="CodeOn--listItem">Selling Point for Testr 005</li>
        </ul>
    </div>
    <div class="CodeOn--credit">
        {% include "./unsplash_credit.html" with name="Blake Connelly" hyperlink="https://unsplash.com/@blakeconnally?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" only %}
    </div>
</div>
