<div class="LoginForm--wrapper">
    <div class="LoginForm">
        <div class="LoginForm--banner">
            <h1 class="LoginForm--hdg">Log into {{ app_name }}</h1>
            <h2 class="LoginForm--subHdg">Glad you're back! We missed you.</h2>
        </div>
        <form  method="post" action="{% url 'login' %}" class="LoginForm">
            {% csrf_token %}
            <div class="LoginForm--inputGroup">
                {{ form.username.label_tag }}
                <div class="LoginForm--inputGroupInput">
                    {{ form.username }}
                </div>
            </div>
            <div class="LoginForm--inputGroup">
                {{ form.password.label_tag }}
                <span class="LoginForm--forgotPassword">
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </span>
                <div class="LoginForm--inputGroupInput">
                    {{ form.password }}
                </div>
            </div>
            <div class="LoginForm--inputGroup">
                <input class="btn btn-primary LoginForm--submit" type="submit" value="Log in" />
            </div>
            <div class="LoginForm--agreement">By logging in you agree to our <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</div>
            <div class="LoginForm--signUp">Don't have an account? <a href="{% url 'register' %}">Sign Up</a>.</div>
        </form>
    </div>
</div>
