<div class="LoginForm--wrapper">
    <div class="LoginForm">
        <div class="LoginForm--banner">
            <h1 class="LoginForm--hdg">Let's get started</h1>
            <h2 class="LoginForm--subHdg">Get up and running with {{ app_name }} in minutes.</h2>
        </div>
        <form  method="post" action="{% url 'register' %}" class="LoginForm">
            {% csrf_token %}
            <div class="LoginForm--inputGroup">
                {{ form.email.label_tag }}
                <div class="LoginForm--inputGroupInput">
                    {{ form.email }}
                </div>
            </div>
            <div class="LoginForm--inputGroup">
                {{ form.password.label_tag }}
                <div class="LoginForm--inputGroupInput">
                    {{ form.password }}
                </div>
            </div>
            <div class="LoginForm--inputGroup">
                {{ form.password_confirmation.label_tag }}
                <div class="LoginForm--inputGroupInput">
                    {{ form.password_confirmation }}
                </div>
            </div>
            <div class="LoginForm--inputGroup">
                <input class="btn btn-primary LoginForm--submit" type="submit" value="Create account" />
            </div>
            <div class="LoginForm--agreement">By logging in you agree to our <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</div>
            <div class="LoginForm--signUp">Already have an account? <a href="{% url 'login' %}">Log in</a>.</div>
        </form>
    </div>
</div>
