@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
}

body {
  padding: 0;
  font-family: 'PT Sans Caption', sans-serif;
  min-width: 300px;
}

section.content {
  margin: 0 0 3rem 0;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* global link styles */
a {
    text-decoration: none;
    color: #0094ff;
}

a:link {}
a:visited {}

a:focus,
a:hover {
    text-decoration: underline;
}

a:active {
}

.o-full-vh {
    height: 100vh;
}

.Logo {
    font-size: 24px;
}

.vertical-right-aligned {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #ccc;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 33%;
    bottom: 33%;
    right: 0;
    min-height: 70px;
}

.full-height {
    height: 100%;
}
